<!--
  Generated template for the DetailmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
     <ion-title>
          <!-- <p class="text-color"> -->
                <div  *ngFor="let d of data">
                  <div *ngIf="d.value == 1" class="text-color">
                         Meal Details
                     </div>
                     <div *ngIf="d.value == 2" class="text-color">
                         Review
                     </div>
                     <div *ngIf="d.value == 3" class="text-color">
                         Restaurant and menu
                     </div>
                     <div *ngIf="d.value == 4" class="text-color">
                         Best Match
                     </div>
                </div>
          <!--  </p> -->
   </ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color:#FEFA96;color:black;" padding>

      <div class="review" *ngFor="let d of data">

        <div class="review" *ngIf="d.value == 1">
          <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
          </p>
               <ion-row>
                  <ion-col col-6 style="border-right: solid 1px black">
                       Health
                       <p>One</p>
                       <p>One</p>
                       <p>One</p>
                       <p>One</p>
                       <p>One</p>
                       <p>One</p>
                   </ion-col>
                  <ion-col col-6>
                       Nutrition
                        <ion-row padding>
                           <ion-col col-6>
                           one
                           </ion-col>
                           <ion-col col-6>
                           15 %
                           </ion-col>

                           <ion-col col-6>
                           one
                           </ion-col>
                           <ion-col col-6>
                           15 %
                           </ion-col>

                           <ion-col col-6>
                           one
                           </ion-col>
                           <ion-col col-6>
                           15 %
                           </ion-col>


                           <ion-col col-6>
                           one
                           </ion-col>
                           <ion-col col-6>
                           15 %
                           </ion-col>

                           <ion-col col-6>
                           one
                           </ion-col>
                           <ion-col col-6>
                           15 %
                           </ion-col>
                       </ion-row>
                  </ion-col>
               </ion-row>
          <br>
           Ingredients
           <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
          </p>
               <!-- Meal Details <br>
               Category : {{mealdetails.item.category}} <br>
               sub-category : {{mealdetails.item.sub_category}} <br> -->

           </div>

           <div class="review" *ngIf="d.value == 2" class="text-color">

             <!--<ion-card-content>-->
               <!--<ion-row class="row-line">-->
                 <!--<ion-col col-4 class="sidebor">-->
                   <!--<img src="assets/icon/Favorites_icon.svg" class="icon_width">-->
                   <!--<p class="detail_opt">Add to Favourites</p>-->
                 <!--</ion-col>-->
                 <!--<ion-col col-4 class="sidebor">-->
                   <!--<img src="assets/icon/add-to-cart.svg" class="icon_width">-->
                   <!--<p class="detail_opt">Add to Cart</p>-->
                 <!--</ion-col>-->
                 <!--<ion-col col-4>-->
                   <!--<img src="assets/icon/Share_icon.svg" class="icon_width">-->
                   <!--<p class="detail_opt">share</p>-->
                 <!--</ion-col>-->
               <!--</ion-row>-->

               <!--<hr>-->
               <!--<ion-list>-->
                 <!--<ion-item padding *ngFor="let d of data" (click)="goto_detailmodal(d.value)" [ngStyle]="{'background-color': d.bgcolor, 'margin-bottom': '2px'}">-->
                   <!--<ion-icon color="primary" item-right [name]="d.icon"></ion-icon>-->
                   <!--{{d.title}}-->
                   <!--&lt;!&ndash;  <div *ngIf="d.showDetails">-->
                         <!--{{d.details}}-->
                     <!--</div> &ndash;&gt;-->
                 <!--</ion-item>-->
               <!--</ion-list>-->
             <!--</ion-card-content>-->

             <!--<ion-content>-->

               <ion-list no-lines>



                   <ion-item>

                     <ion-avatar item-left>
                       <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png">
                     </ion-avatar>

                     <h2>Test review</h2>
                     <h4 > <font color="red">10 days ago</font></h4>
                     <p>Its really awesome place to visit with family</p>

                     <!--<ion-icon danger name="sad"></ion-icon>-->
                     <ion-icon secondary name="happy"></ion-icon>
                     <br><br>
                     <button ion-button color="#fff" >
                       <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"  class="direction dirct0" ></ion-icon><span>
                       <p padding-left="20sp"> Helpful </p> </span>
                     </button>

                   </ion-item>
                <hr>
                 <ion-item>

                   <ion-avatar item-left>
                     <img src="https://developers.google.com/webmasters/mobile-sites/imgs/mobile-user.png">
                   </ion-avatar>

                   <h2>Average</h2>
                   <h4 > <font color="red">12 days ago</font></h4>
                   <p>Good For Weekends Outing. Normal service</p>

                   <ion-icon danger name="sad"></ion-icon>
                   <br><br>
                   <button ion-button color="#fff" >
                     <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"  class="direction dirct0" ></ion-icon><span>
                       <p padding-left="20sp"> Helpful </p> </span>
                   </button>

                 </ion-item>

                 <hr>
                 <ion-item>

                   <ion-avatar item-left>
                     <img src="https://images.onlinelabels.com/images/clip-art/dagobert83/dagobert83_female_user_icon.png">
                   </ion-avatar>

                   <h2>Wow!!!</h2>
                   <h4 > <font color="red">20 days ago</font></h4>
                   <p>Good For team lunch!! Service is awesome</p>

                   <ion-icon secondary name="happy"></ion-icon>
                   <br><br>
                   <button ion-button color="#fff" >
                     <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"  class="direction dirct0" ></ion-icon><span>
                       <p padding-left="20sp"> Helpful </p> </span>
                   </button>

                 </ion-item>
                   <!--<ion-item-options>-->
                    <!---->
                   <!--</ion-item-options>-->
                 <hr>
                 <ion-item>

                   <ion-avatar item-left>
                     <img src="https://thumbs.dreamstime.com/x/user-icon-9233164.jpg">
                   </ion-avatar>

                   <h2>Poor Service!!</h2>
                   <h4 > <font color="red">20 days ago</font></h4>
                   <p>Food is really costly and quality is poor.</p>

                   <ion-icon danger name="sad"></ion-icon>
                   <br><br>
                   <button ion-button color="#fff" >
                     <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"  class="direction dirct0" ></ion-icon><span>
                       <p  padding-left="20sp"><font color="white">Helpful </font></p> </span>
                   </button>

                 </ion-item>
               </ion-list>
             <hr>
             <!--</ion-content>-->

               <!--<ion-row>-->
                 <!--<ion-col col-6 style="border-right: solid 1px black">-->
                   <!--Health-->
                   <!--<p>One</p>-->
                   <!--<p>One</p>-->
                   <!--<p>One</p>-->
                   <!--<p>One</p>-->
                   <!--<p>One</p>-->
                   <!--<p>One</p>-->
                 <!--</ion-col>-->
                 <!--<ion-col col-6>-->
                   <!--Nutrition-->
                   <!--<ion-row padding>-->
                     <!--<ion-col col-6>-->
                       <!--one-->
                     <!--</ion-col>-->
                     <!--<ion-col col-6>-->
                       <!--15 %-->
                     <!--</ion-col>-->

                     <!--<ion-col col-6>-->
                       <!--one-->
                     <!--</ion-col>-->
                     <!--<ion-col col-6>-->
                       <!--15 %-->
                     <!--</ion-col>-->

                     <!--<ion-col col-6>-->
                       <!--one-->
                     <!--</ion-col>-->
                     <!--<ion-col col-6>-->
                       <!--15 %-->
                     <!--</ion-col>-->


                     <!--<ion-col col-6>-->
                       <!--one-->
                     <!--</ion-col>-->
                     <!--<ion-col col-6>-->
                       <!--15 %-->
                     <!--</ion-col>-->

                     <!--<ion-col col-6>-->
                       <!--one-->
                     <!--</ion-col>-->
                     <!--<ion-col col-6>-->
                       <!--15 %-->
                     <!--</ion-col>-->
                   <!--</ion-row>-->
                 <!--</ion-col>-->
               <!--</ion-row>-->
               <!--<br>-->
               <!--Ingredients-->
               <!--<p>-->
                 <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum-->
               <!--</p>-->

           </div>
           <div class="review" *ngIf="d.value == 3" class="text-color">
               Restaurant and menu
           </div>
           <div class="review" *ngIf="d.value == 4" class="text-color">
               <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
               </p>
               <button ion-button full>preference</button>
           </div>
      </div>
</ion-content>
