<ion-header>

  <ion-navbar>
     <ion-title>
          <!-- <p class="text-color"> -->
                <div  *ngFor="let d of data">
                  <div *ngIf="d.value == 1" class="text-color">
                         Meal Details
                     </div>
                     <div *ngIf="d.value == 2" class="text-color">
                         Review
                     </div>
                     <div *ngIf="d.value == 3" class="text-color">
                         Restaurant and menu
                     </div>
                     <div *ngIf="d.value == 4" class="text-color">
                         Best Match
                     </div>
                </div>
          <!--  </p> -->
   </ion-title>
  </ion-navbar>

</ion-header>

<!--style="background-color:#FEFDD8;color:grey;"-->
<ion-content padding id="ioncontent">

      <div class="review" *ngFor="let d of data">

        <div class="review" *ngIf="d.value == 1">
            <div *ngFor="let iteminfo of mealinfoarraydesc;">
                Name : {{iteminfo.name}}
                Description : {{iteminfo.description}}
                <hr>
            </div>
           <!--  <div *ngFor="let iteminfo of info;let i = index">
                {{iteminfo}}
            </div> -->

               <ion-row>
                  <ion-col col-6 style="border-right: solid 1px black">
                       <b>Health Benefits</b>
                       <p>One</p>
                       <p>One</p>
                       <p>One</p>
                       <p>One</p>
                       <p>One</p>
                       <p>One</p>
                   </ion-col>
                  <ion-col col-6>
                       <div style="margin-left:5px"><b>Nutrition</b></div>
                        <ion-row padding>
                           <ion-col col-6>
                           one
                           </ion-col>
                           <ion-col col-6>
                           15 %
                           </ion-col>

                           <ion-col col-6>
                           one
                           </ion-col>
                           <ion-col col-6>
                           15 %
                           </ion-col>

                           <ion-col col-6>
                           one
                           </ion-col>
                           <ion-col col-6>
                           15 %
                           </ion-col>


                           <ion-col col-6>
                           one
                           </ion-col>
                           <ion-col col-6>
                           15 %
                           </ion-col>

                           <ion-col col-6>
                           one
                           </ion-col>
                           <ion-col col-6>
                           15 %
                           </ion-col>
                       </ion-row>
                  </ion-col>
               </ion-row>
          <br>
           <b>Ingredients</b>
           <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
          </p>
               <!-- Meal Details <br>
               Category : {{mealdetails.item.category}} <br>
               sub-category : {{mealdetails.item.sub_category}} <br> -->

           </div>

           <div class="review" *ngIf="d.value == 2" class="text-color">

             <!--<ion-card-content>-->
               <!--<ion-row class="row-line">-->
                 <!--<ion-col col-4 class="sidebor">-->
                   <!--<img src="assets/icon/Favorites_icon.svg" class="icon_width">-->
                   <!--<p class="detail_opt">Add to Favourites</p>-->
                 <!--</ion-col>-->
                 <!--<ion-col col-4 class="sidebor">-->
                   <!--<img src="assets/icon/add-to-cart.svg" class="icon_width">-->
                   <!--<p class="detail_opt">Add to Cart</p>-->
                 <!--</ion-col>-->
                 <!--<ion-col col-4>-->
                   <!--<img src="assets/icon/Share_icon.svg" class="icon_width">-->
                   <!--<p class="detail_opt">share</p>-->
                 <!--</ion-col>-->
               <!--</ion-row>-->

               <!--<hr>-->
               <!--<ion-list>-->
                 <!--<ion-item padding *ngFor="let d of data" (click)="goto_detailmodal(d.value)" [ngStyle]="{'background-color': d.bgcolor, 'margin-bottom': '2px'}">-->
                   <!--<ion-icon color="primary" item-right [name]="d.icon"></ion-icon>-->
                   <!--{{d.title}}-->
                   <!--&lt;!&ndash;  <div *ngIf="d.showDetails">-->
                         <!--{{d.details}}-->
                     <!--</div> &ndash;&gt;-->
                 <!--</ion-item>-->
               <!--</ion-list>-->
             <!--</ion-card-content>-->

      <!--<ion-content>-->

      <ion-row>
        <ion-col col-6 style="text-align: center; color:black">
          <h2> 4.3 <ion-icon name="star"></ion-icon> </h2>
          Meal Rating
        </ion-col>
        <ion-col col-6 style="text-align: center; color:black">
          <h2> 3.5 <ion-icon name="star"></ion-icon> </h2>
          Restaurant Rating
        </ion-col>
        <!--<ion-col col-4 style="text-align: center; color:black">-->
          <!--<h2> 71 <ion-icon name="list-box"></ion-icon> </h2>-->
          <!--Reviews-->
        <!--</ion-col>-->
      </ion-row>

      <hr>


        <ion-list no-lines>
          <div *ngFor="let review of review">
          <ion-item style="background-color: #DEF9D6" text-wrap>
            {{review.author_name}}
            <ion-avatar item-left>
              <img src={{review.profile_photo_url}}>
            </ion-avatar>
            <h4 > <font color="grey">{{review.relative_time_description}}</font></h4>
            <p style="padding-top:10px">{{review.text}}</p>
            <ion-icon secondary name="happy"></ion-icon>
            <br><br>
            <button ion-button color="#fff" >
              <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"  class="direction dirct0" ></ion-icon><span>
                        <p  padding-left="20sp"><font color="white">Helpful </font></p> </span>
            </button>

          </ion-item>
          <hr>

      </div>
        </ion-list>
           </div>
          <!--<ion-item style="background-color: #DEF9D6" text-wrap>-->

          <!--<ion-avatar item-left>-->
          <!--<img src="https://developers.google.com/webmasters/mobile-sites/imgs/mobile-user.png">-->
          <!--</ion-avatar>-->

          <!--<h2>Average</h2>-->
          <!--<h4 > <font color="grey">12 days ago</font></h4>-->
          <!--<p style="padding-top:10px">"Good For Weekends Outing. Normal serviceGood For Weekends Outing. Normal serviceGood For Weekends Outing. Normal service"</p>-->

          <!--<ion-icon danger name="sad"></ion-icon>-->
          <!--<br><br>-->
          <!--<button ion-button color="#fff" >-->
          <!--<ion-icon ios="ios-thumbs-up" md="md-thumbs-up"  class="direction dirct0" ></ion-icon><span>-->
          <!--<p  padding-left="20sp"><font color="white">Helpful </font></p> </span>-->
          <!--</button>-->

          <!--</ion-item>-->

          <!--<hr>-->
          <!--<ion-item style="background-color: #DEF9D6" text-wrap>-->

          <!--<ion-avatar item-left>-->
          <!--<img src="https://images.onlinelabels.com/images/clip-art/dagobert83/dagobert83_female_user_icon.png">-->
          <!--</ion-avatar>-->

          <!--<h2>Wow!!!</h2>-->
          <!--<h4 > <font color="grey">20 days ago</font></h4>-->
          <!--<p style="padding-top:10px">"Good For team lunch!! Service is awesomeGood For team lunch!! Service is awesomeGood For team lunch!! Service is awesome"</p>-->

          <!--<ion-icon secondary name="happy"></ion-icon>-->
          <!--<br><br>-->
          <!--<button ion-button color="#fff" >-->
          <!--<ion-icon ios="ios-thumbs-up" md="md-thumbs-up"  class="direction dirct0" ></ion-icon><span>-->
          <!--<p  padding-left="20sp"><font color="white">Helpful </font></p> </span>-->
          <!--</button>-->

          <!--</ion-item>-->

          <!--<hr>-->
          <!--<ion-item style="background-color: #DEF9D6" text-wrap>-->

          <!--<ion-avatar item-left>-->
          <!--<img src="https://thumbs.dreamstime.com/x/user-icon-9233164.jpg">-->
          <!--</ion-avatar>-->

          <!--<h2>Poor Service!!</h2>-->
          <!--<h4 > <font color="grey">20 days ago</font></h4>-->
          <!--<p style="padding-top:10px">"Food is really costly and quality is poorFood is really costly and quality is poorFood is really costly and quality is poor"</p>-->

          <!--<ion-icon danger name="sad"></ion-icon>-->
          <!--<br><br>-->
          <!--<button ion-button color="#fff" >-->
          <!--<ion-icon ios="ios-thumbs-up" md="md-thumbs-up"  class="direction dirct0" ></ion-icon><span>-->
          <!--<p  padding-left="20sp"><font color="white">Helpful </font></p> </span>-->
          <!--</button>-->

          <!--</ion-item>-->
          <!--</ion-list>-->
          <!--<hr>-->

    <div  class="review" *ngIf="d.value == 3">
      <ion-card>

               <img src="assets/img/map_madison.png">
               <!--<ion-fab right top>-->
                 <!--<button ion-fab>-->
                   <!--<ion-icon name="pin"></ion-icon>-->
                 <!--</button>-->
               <!--</ion-fab>-->

               <!--<ion-item>-->
                 <!--<ion-icon name="football" item-start large></ion-icon>-->
                 <!--<h2>Museum of Football</h2>-->
                 <!--<p>11 N. Way St, Madison, WI 53703</p>-->
               <!--</ion-item>-->

               <ion-item>
                 <ion-icon name="wine" item-left large ></ion-icon>
                 <p>{{info.restaurant.name}} - {{info.restaurant.addressLane1}} <br>{{info.restaurant.city}} - {{info.restaurant.state}} </p>
               </ion-item>

               <ion-item>
                 <span item-left>18 min</span>
                 <span item-left>(2.6 mi)</span>
                 <button ion-button icon-left clear item-end (click)="direct(info.restaurant.latitude,info.restaurant.longitude)">
                   <ion-icon name="navigate"></ion-icon>
                   Start
                 </button>
               </ion-item>

             </ion-card>
             <br>
             <hr>
             <b> Restaurant Menu </b>
             <hr>
             <ion-list style="background-color: #B9F496">
                <button ion-item *ngFor="let menu_items of info.menu;let i =index" style="background-color: #B9F496">
                  {{info.menu[i].item.name}}
                </button>
              </ion-list>





           </div>
           <div class="review" *ngIf="d.value == 4">
               <p>
                We have picked this item for you because of your curret preference settingd.
               </p>
               <br>
               <p>
                Help us serve you better by updating your preference.
               </p>
               <button ion-button full (click)="goto_preference()" style="background-color:#F3A836">Go To My Preference</button>
           </div>
      </div>
</ion-content>
